*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, #362706, #464E2E, #ACB992, #E9E5D6);
    background-size:  1024% 1024%;
    animation: colors 15s ease infinite;

}   

/*.gradiente {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, #362706, #464E2E, #ACB992, #E9E5D6);
    background-size: 1024% 1024%;
    animation: colors 15s ease infinite;
}*/
@keyframes colors {
    0%{
        background-position: 0% 50%;

    }    
    50%{
        background-position: 100% 50%;

    }
    100%{
        background-position: 0% 50%;

    }
}
    
.card_img{
    width: 100px;
    height: 110px;
    overflow: hidden;
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 10px;
    border-radius: 18px; 


}

.small_img{
    height: 100%;
    cursor: pointer;
    transition: all linear 0.4s;
}
.small_img:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
}

.row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
}

#modal_img{
    width: 40vw;
    transform: scale(0);
    transition: all linear .3s;
}

.modal_active #modal_img{
    transform: scale(1);
}
.modal{

    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    visibility: hidden;
    z-index: 1;
    opacity: 0;
    transition: visibility 0.8s linear, opacity 0.5s linear;
}

.modal_content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#bt_close{
    color:#fff;
    background-color: #000;
    position: absolute;
    top:10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 25px;
    border:solid 1px #fff;
    transition: all ease-out .4s;
    cursor: pointer;
}
#bt_close:hover{
    background-color: #f00;
}

.modal_active{
    visibility: visible;
    opacity: 1;

}

/*--responsive--*/
@media(max-width:1920px){
    .card_img{
    width: 180px;
    height: 240px;
    overflow: hidden;
    margin-top: 2px;
    margin-right: 1px;
    margin-left: 10px;
    border-radius: 18px;
    }
}
@media(max-width:1680px){
    .card_img{
        width: 200px;
        height: 200px;
        overflow: hidden;
        margin-top: 2px;
        margin-right: 40px;
        margin-left: 10px;
        border-radius: 12px; 

    }
}
@media(max-width:1600px){
    .card_img{
        width: 100px;
        height: 180px;
        overflow: hidden;
        margin-top: 2px;
        margin-right: 25px;
        margin-left: 10px;
        border-radius: 18px; 

    }
    /*.login-main h1 {
        padding: 1.5em 0 1em;
    }
}*/
@media(max-width:1440px){
    .card_img{
        width: 100px;
        height: 120px;
        overflow: hidden;
        margin-top: 1%;
        margin-right: 10px;
        margin-left: -1px;
        border-radius: 10px; 
 }
         }
         @media(max-width: 1348px){
            .card_img{
                width: 180px;
                height: 180px;
                overflow: hidden;
                margin-top: -1%;
                margin-right: 10px;
                margin-left: -1px;
                border-radius: 10px; 
         }
    @media(max-width: 1069px){
        .card_img{
            width: 100px;
            height: 140px;
            overflow: hidden;
            margin-top: -1%;
            margin-right: 10px;
            margin-left: -1px;
            border-radius: 10px; 
     }
        
    }
    @media(max-width: 1055px){
        .card_img{
            width: 90px;
            height: 140px;
            overflow: hidden;
            margin-top: -1%;
            margin-right: 10px;
            margin-left: -1px;
            border-radius: 10px;
     
        }
    }
    @media(max-width: 1024px){
        .card_img{
            width: 90px;
            height: 140px;
            overflow: hidden;
            margin-top: -1%;
            margin-right: 10px;
            margin-left: -1px;
            border-radius: 10px; 
     
        }
        @media(max-width: 900px){
            .card_img{
                width: 90px;
                height: 100px;
                overflow: hidden;
                margin-top: 1%%;
                margin-right: 10px;
                margin-left: -1px;
                border-radius: 10px; 
            }
            @media(max-width: 800px){
                .card_img{
                    width: 90px;
                    height: 105px;
                    overflow: hidden;
                    margin-top: 1%;
                    margin-right: 10px;
                    margin-left: -1px;
                    border-radius: 10px; 
             
                }    
            @media(max-width: 768px){
                .card_img{
                    width: 90px;
                    height: 100px;
                    overflow: hidden;
                    margin-top: 1%;
                    margin-right: 10px;
                    margin-left: -1px;
                    border-radius: 10px; 
             
                }
                @media(max-width: 712px){
                    .card_img{
                        width: 200px;
                        height: 200px;
                        overflow: hidden;
                        margin-top: 1%;
                        margin-right: 10px;
                        margin-left: -1px;
                        border-radius: 10px; 
                 
                    }
                    @media(max-width: 600px){
                        .card_img{
                            width: 110px;
                            height: 190px;
                            overflow: hidden;
                            margin-top: 1%;
                            margin-right: 10px;
                            margin-left: -1px;
                            border-radius: 10px; 
                     
                        }
                @media(max-width: 425px){
                    .card_img{
                        width: 120px;
                        height: 111px;
                        overflow: hidden;
                        margin-top: 1%;
                        margin-right: 10px;
                        margin-left: -1px;
                        border-radius: 10px; 
                 
                    }
                    @media(max-width: 384px){
                        .card_img{
                            width: 110px;
                            height: 111px;
                            overflow: hidden;
                            margin-top: 1%;
                            margin-right: 10px;
                            margin-left: -1px;
                            border-radius: 10px; 
                     
                        }
                    @media(max-width: 375px){
                        .card_img{
                            width: 110px;
                            height: 111px;
                            overflow: hidden;
                            margin-top: 1%;
                            margin-right: 10px;
                            margin-left: -1px;
                            border-radius: 10px; 
                     
                        }
                        @media(max-width: 360px){
                            .card_img{
                                width: 100px;
                                height: 110px;
                                overflow: hidden;
                                margin-top: 1%;
                                margin-right: 10px;
                                margin-left: -1px;
                                border-radius: 10px; 
                         
                            }
                        @media(max-width: 320px){
                            .card_img{
                                width: 90px;
                                height: 90px;
                                overflow: hidden;
                                margin-top: -1%;
                                margin-right: 10px;
                                margin-left: -1px;
                                border-radius: 10px; 
                         
                            }