*{margin: 0; padding: 0;}

body{
    
    background: linear-gradient(45deg, #dddcd8, #5c5c1f, #f7f7e4, #ee0c0c);
    animation: colors 15s ease infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
    height: 6vh;
    background-size:  1024% 1024%;
    animation: colors 15s ease infinite;

} 
.menu{
list-style:none;
border:1px solid #c0c0c0;
float:left;
background-color: rgb(243, 239, 205);



}
.menu li{
position:relative;
float:left;
border-right:1px solid #c0c0c0;


}
.menu li a{
    color:#333; 
    text-decoration:none; 
    padding:10px 15px; 
    display:block;
}

.menu li a:hover{
background:rgb(73, 73, 73);
color:#fff;
-moz-box-shadow:0 3px 10px 0 #CCC;
-webkit-box-shadow:0 3px 10px 0 #ccc;
text-shadow:0px 0px 7px #fff;
}
.menu li  ul{
position:absolute;
top:25px;
left:0;
background-color:rgb(248, 243, 227);
display:none;

}

.menu li:hover ul, .menu li.over ul{
    display:block;
}

.menu li ul li{
border:1px solid #c0c0c0;
display:block;
width:150px;
}

/*.container{
    background-image: url('/radios/fundo.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    /*bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    /*padding: 3em;*/
    /*position: absolute;
    right: -100px;
    text-align: center;
    top: 100px;
    background-size: cover;*/
}


   /*--responsive--
   @media(min-width:768px){
       .body{
    background-image: url("/radios/fundo.jpg");  
   } 
}
  */
  @media screen {min-width: 240px;
    .menu{
        background-color: rgb(243, 239, 205);
    }
  }
