*{margin: 0; padding: 0;}

.container{
    background-image: url('/radios/fundo.jpg');
    background-repeat: no-repeat;
    background-size:100%;
   bottom: 0;
    color: rgb(7, 7, 7);
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 40px;
    background-size: cover;
}
